<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
    <appSettings>
        <add key="ActiveDBName" value="Cypress" />
        <add key="Local"        value="*Public/DG NET Local" />
        <add key="Cypress"      value="*Public/Cypress" />
    </appSettings>
    <system.web>
    <compilation debug="true" targetFramework="4.5"/>
  </system.web>
</configuration>